{
  "presets": [
    "env",
    "react",
    "flow",
    "es2016"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ]
      }
    ],
    "transform-class-properties"
  ]
}