.TokenholdersChart {
  width: 44%;

  .titleWrapper {
    display: flex;
    align-items: center;

    div {
      margin-left: 0.5vw;
    }
  }

  .tokenholdersChartWrapper {
    margin-top: 1vw;
  }
}
