.TokenInfo {
  width: 25%;

  .delta {
    transition: all 1s ease;
  }

  .delta:hover {
    font-size: 200%;
  }

  div:first-of-type {
    margin-top: 1vw;
  }

  .row {
    line-height: 2;

    .title {
      margin-top: 0;
    }
  }

  .subtitle {
    line-height: 1;
  }
}
